<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link href="simple_pc.css" rel="stylesheet" type="text/css" />
<script language="javascript">
var agent = navigator.userAgent;
var os = 1;
if(agent.indexOf("Android") > -1)
{
	document.getElementsByTagName("link")[0].href="simple.css";
  os = 2;
  alert("good");
}
else
{
	document.getElementsByTagName("link")[0].href="simple_pc.css";
}
</script>
</head>

<body>
  <table width="100%" border="0">
   <tr><td>发生的埃索达发生地方阿萨德飞埃索达飞阿萨德飞撒旦法发生的发的少发点发</td></tr> 
  <tr>
    <td class="table">
	  <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <table border="0" cellspacing="1" cellpadding="2" align="center">
            
            <tr>
              <td>VeryCheck <a href="index.php">首页</a> <a href="androidpad.php">Android平板</a> <a href="windowspad.php">Windows平板</a> <a href="ipad.php">iPad</a> <a href="http://www.verycheck.net/wiki/" target="_blank">百科</a></td>
            </tr>
            <tr align="center">
              <form id="form1" name="form1" method="post" action="">
                <td> <input name="textfield" type="text" size="60" />　<input type="submit" name="Submit" value="　提交　" /></td>
              </form>
            </tr>
	        </table>
      </td>
    </tr>
    <tr> 
      <td></td>
        </tr>
          <tr>
            <td scope="row"><table class="table" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left">
              <table border="0" cellspacing="1" cellpadding="2">
          <tr>
            <td><hr /></td>
          </tr>
          <tr>
            <td align="left">
              <table width="100%" border="0" cellspacing="1" cellpadding="2">
			  <tr><td align="center">
			  <a href="xxxx.html" class="title">白巧奶油小生 酷比魔方U18GT四核评测</a>　
			  </td></tr>
			  <tr><td align="center"><span class="site">中关村在线</span>　<span class="time">2013年10月07日 06:00</span></td></tr>
                      <tr>
                        <td class="content">&nbsp;&nbsp;&nbsp;&nbsp;前不久酷比魔方推出了一款手机产品TALK5H一举进军手机领域，与小米推出的红米手机公然较量。显而易见，酷比魔方已经不满足于平板电脑市场了，想要扩展更多的领域...</td>
                      </tr>
                  </table>
              </td>
          </tr>
          <tr>
            <td scope="row"><hr /></td>
          </tr>
		  		    
          <tr>
            <td scope="row" align="center">版权所有@www.verycheck.net 浙备XXXXXXXX</td>
          </tr>		  
		  		  
        </table></td>
      </tr>
    </table>
	  </td>
</tr>
</table>
</body>

</html>
