<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"content="width=device-width, initial-scale=1"/>
<link href="simple_pc.css" rel="stylesheet" type="text/css" />
<title>verycheck</title>
<script language=javascript src=head.js></script>
</head>

<body>
<div class="glb" align="left">
	
  <script language=javascript src=menu.js></script>

  <script language=javascript src=toolbar.js></script>

  <script language=javascript src=toolbar2.js></script>

  <div><hr /></div>

  <div class="item_list">
		<div class="item">
			<div align="center">
        <span class="title">{{article.title}}</span>
      </div>
      <div align="center">
        <span class="site">{{article.site}}</span>&nbsp;
        <span class="time">{{article.pubtime|date:"Y-m-d"}}</span>
      </div>
      <div class="site" align="center">原文地址：<a href='{{article.url}}' target="_blank">{{article.url}}</a></div>
			<div class="content">
        {{article.content|safe}}
			</div>
		</div>
		
		<div><hr /></div>
	</div>
  <div align="center">
    <script language=javascript src=bottom.js></script>
  </div>
</div>
<script language=javascript src=extend.js></script>
</body>
</html>
