<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport"content="width=device-width, initial-scale=1"/>
<link href="simple_pc.css" rel="stylesheet" type="text/css" />
<title>verycheck</title>
<script language=javascript src=head.js></script>
</head>

<body>
<div class="glb" align="left">
	
  <script language=javascript src=menu.js></script>

  <script language=javascript src=toolbar.js></script>

  <script language=javascript src=toolbar2.js></script>

  <div><hr /></div>

	<div class="item_list">
		<div class="item">
			<div align="center">
				<span class="title"><a href="xxx.php">白巧奶油小生 酷比魔方U18GT四核评测</a></span>&nbsp;
				<span class="site">中关村在线</span>&nbsp;
				<span class="time">2013-10-12</span>
			</div>
			<div class="content">
				&nbsp;&nbsp;&nbsp;&nbsp;前不久酷比魔方推出了一款手机产品TALK5H一举进军手机领域，与小米推出的红米手机公然较量。显而易见，酷比魔方已经不满足于平板电脑市场了，想要扩展更多的领域...
			</div>
			<div align="center">
				<a href="xx.php"><img src="ceN7TFBxDjeEg.jpg" border="0" class="main_pic"/></a>
		    </div>
		</div>
		
		<div><hr /></div>
		
		<div class="item">
			<div align="center">
				<span class="title"><a href="xxx.php">白巧奶油小生 酷比魔方U18GT四核评测</a></span>&nbsp;
				<span class="site">中关村在线</span>&nbsp;
				<span class="time">2013-10-12</span>
			</div>
			<div class="content">
				&nbsp;&nbsp;&nbsp;&nbsp;前不久酷比魔方推出了一款手机产品TALK5H一举进军手机领域，与小米推出的红米手机公然较量。显而易见，酷比魔方已经不满足于平板电脑市场了，想要扩展更多的领域...
			</div>
			<div align="center">
				<a href="xx.php"><img src="ceN7TFBxDjeEg.jpg" border="0" class="main_pic"/></a>
		    </div>
		</div>		
		
	</div>
	<div><hr /></div>
	<div align="center">
		首页 上一页 1 2 3 4 5 下一页 最后一页
	</div>
	<div><hr /></div>
	<div align="center"> 浙备@1242343411
  </div>
  <script language=javascript src=bottom.js></script>
</div>
<script language=javascript src=extend.js></script>
</body>
</html>
