.glb {
	width: 800px;
	float:left;
}
.search_input {
	width: 500px;
}
.toolbar {
	font-family: "宋体";
	font-size: 12px;
}
.item_list {
	font-family: "宋体";
	font-size: 12px;
}
.item {
	font-family: "宋体";
	font-size: 12px;
}
.title {
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
}
.time {
	font-family: "宋体";
	font-size: 12px;
	font-weight: lighter;
	color: #666666;
}
.site {
	font-family: "宋体";
	font-size: 12px;
	font-weight: lighter;
	color: #666666;
}
.content {
	font-family: "宋体";
	font-size: 14px;
}
.main_pic {
	width: 60%;
}

.index {
	font-family: "宋体";
	font-size: 14px;
}
